* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Variaveis de cores */
:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}


html {
    font-family: 'Poppins', sans-serif;
}


